<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <!-- Name -->
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-error>{{getErrorMessageFor('name')}}</mat-error>
    </mat-form-field>
    <!-- Email -->
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error>{{getErrorMessageFor('email')}}</mat-error>
    </mat-form-field>
    <!-- Password -->
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>{{getErrorMessageFor('password')}}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!signupForm.valid">
      Sign up
    </button>
  </div>
</form>

